---
---

@import "{{ site.theme }}";

body {
    font-size: 18px;
    font-family:-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
}

.inner {
    max-width: 900px;
}

p img {
    display: block;
    margin: auto;
    
    margin-top: 40px;
    margin-bottom: 40px
}

a {
    color: #bf616a;
}

code {
    font-family: Monaco,Consolas,"Lucida Console",monospace;
    color: #eff;
    background-color: #434c5e;
}

.language-plaintext.highlighter-rouge {
    color: #434c5e;
    background-color: #d8dee9;
}

.highlight {
    background-color: #434c5e;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px
}

#main_content_wrap {
    background: #eceff4;
}

#header_wrap {
    background: #434c5e;
}