---
---

@import "{{ site.theme }}";

body {
    font-size: 18px;
    font-family:-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
}

.inner {
    max-width: 900px;
}

p img {
    display: block;
    margin: auto;
    max-width: 900px;
    margin-top: 40px;
    margin-bottom: 40px
}

code {
    font-family: Monaco,Consolas,"Lucida Console",monospace;
    color: #eff;
    background-color: #2e3440;
}

.language-plaintext.highlighter-rouge {
    color: #2e3440;
    background-color: #fff;
}

.highlight {
    background-color: #2e3440;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px
}

